body {
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200;
}

h1 {
    color: chocolate;
    margin-left: 50px;
}

h2 {
    color: blue;
    text-align: center;
    
}

p {
    border: 15px solid palevioletred;
    color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-size:150;
    background-color: black;
    margin: 40px;
    padding: 20px;
}

.flex-container {
    display: flex;
    border: 4px solid #eee;
    border-radius: 15px
}

.flex-item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 100px;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: white;

}

.box-1{
    background-color: blue;
}

.box-2{
    background-color: yellow;
}

.box-3{
    background-color: orange;
}

.box-4{
    background-color: blueviolet;
}

.box-5{
    background-color: brown;
}